In [1]:
people ={
    "first":['corey','jane','john'],
    "last":['schafer','Doe','Doe'],
    "email":['coreyschafer@gmail.com','janeDoe@gmail.com','johndoe@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
people['email']

['coreyschafer@gmail.com', 'janeDoe@gmail.com', 'johndoe@gmail.com']

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)

In [6]:
df

   first     last                   email
0  corey  schafer  coreyschafer@gmail.com
1   jane      Doe       janeDoe@gmail.com
2   john      Doe       johndoe@gmail.com

In [7]:
df['email']

0    coreyschafer@gmail.com
1         janeDoe@gmail.com
2         johndoe@gmail.com
Name: email, dtype: object

In [8]:
type(df['email'])

pandas.core.series.Series

In [9]:
df.count()

first    3
last     3
email    3
dtype: int64

In [10]:
df[['last','email']]

      last                   email
0  schafer  coreyschafer@gmail.com
1      Doe       janeDoe@gmail.com
2      Doe       johndoe@gmail.com

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.iloc[0]

first                     corey
last                    schafer
email    coreyschafer@gmail.com
Name: 0, dtype: object

In [13]:
df.loc[[0,1],['email','last']]

                    email     last
0  coreyschafer@gmail.com  schafer
1       janeDoe@gmail.com      Doe

In [14]:
df.set_index(('first'),inplace=True)

In [15]:
df

          last                   email
first
corey  schafer  coreyschafer@gmail.com
jane       Doe       janeDoe@gmail.com
john       Doe       johndoe@gmail.com

In [16]:
df.index

Index(['corey', 'jane', 'john'], dtype='object', name='first')

In [17]:
df.iloc[1]

last                   Doe
email    janeDoe@gmail.com
Name: jane, dtype: object

In [18]:
df.reset_index(inplace=True)
df

   first     last                   email
0  corey  schafer  coreyschafer@gmail.com
1   jane      Doe       janeDoe@gmail.com
2   john      Doe       johndoe@gmail.com

In [19]:
filt = (df['last']== 'schafer') | (df['first']=='john')

In [20]:
df[filt]

   first     last                   email
0  corey  schafer  coreyschafer@gmail.com
2   john      Doe       johndoe@gmail.com

In [21]:
df.loc[-filt,'email']

1    janeDoe@gmail.com
Name: email, dtype: object

In [22]:
df.columns=[x.lower() for x in df.columns]
df

   first     last                   email
0  corey  schafer  coreyschafer@gmail.com
1   jane      Doe       janeDoe@gmail.com
2   john      Doe       johndoe@gmail.com

In [23]:
df.columns=df.columns.str.replace('_','')
df

   first     last                   email
0  corey  schafer  coreyschafer@gmail.com
1   jane      Doe       janeDoe@gmail.com
2   john      Doe       johndoe@gmail.com

In [24]:
df.rename(columns={'first':'first_name','last':'last_name'},inplace=True)

In [25]:
df

  first_name last_name                   email
0      corey   schafer  coreyschafer@gmail.com
1       jane       Doe       janeDoe@gmail.com
2       john       Doe       johndoe@gmail.com

In [26]:
df

  first_name last_name                   email
0      corey   schafer  coreyschafer@gmail.com
1       jane       Doe       janeDoe@gmail.com
2       john       Doe       johndoe@gmail.com

In [27]:
df.loc[2]=['john','smith','johnsmith@gmail.com']
df

  first_name last_name                   email
0      corey   schafer  coreyschafer@gmail.com
1       jane       Doe       janeDoe@gmail.com
2       john     smith     johnsmith@gmail.com

In [28]:
df['email']=df['email'].str.lower()

In [29]:
df

  first_name last_name                   email
0      corey   schafer  coreyschafer@gmail.com
1       jane       Doe       janedoe@gmail.com
2       john     smith     johnsmith@gmail.com

In [30]:
df['email'].apply(len)

0    22
1    17
2    19
Name: email, dtype: int64

In [31]:
def update_email(email):
    return email.upper()

In [32]:
df['email'].apply(update_email)

0    COREYSCHAFER@GMAIL.COM
1         JANEDOE@GMAIL.COM
2       JOHNSMITH@GMAIL.COM
Name: email, dtype: object

In [33]:
df['email'] = df['email'].apply(update_email)

In [34]:
df

  first_name last_name                   email
0      corey   schafer  COREYSCHAFER@GMAIL.COM
1       jane       Doe       JANEDOE@GMAIL.COM
2       john     smith     JOHNSMITH@GMAIL.COM

In [35]:
df['email'] = df['email'].apply(lambda x:x.lower())

In [36]:
df

  first_name last_name                   email
0      corey   schafer  coreyschafer@gmail.com
1       jane       Doe       janedoe@gmail.com
2       john     smith     johnsmith@gmail.com

In [37]:
df.apply(pd.Series.min)

first_name                     corey
last_name                        Doe
email         coreyschafer@gmail.com
dtype: object

In [38]:
df.applymap(len)

C:\Users\USER\AppData\Local\Temp\ipykernel_4500\1485728669.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len)

   first_name  last_name  email
0           5          7     22
1           4          3     17
2           4          5     19

In [39]:
df['first_name'] + ' ' + df['last_name']

0    corey schafer
1         jane Doe
2       john smith
dtype: object

In [40]:
df['full_name']=df['first_name'] + ' ' + df['last_name']

In [41]:
df

  first_name last_name                   email      full_name
0      corey   schafer  coreyschafer@gmail.com  corey schafer
1       jane       Doe       janedoe@gmail.com       jane Doe
2       john     smith     johnsmith@gmail.com     john smith

In [42]:
df.append({'first_name' : 'Tony'},ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
df.sort_values(by='last_name', ascending=False)

In [ ]:
df.sort_index()

In [ ]:
df

In [ ]:
df=df.sort_values(by='last_name', ascending=False)

In [ ]:
df

In [ ]:
df=df.sort_index()

In [ ]:
df